openapi: 3.0.3
info:
  title: YPT (Yeolpumta) API Specification - Cobertura 100%
  description: Especificação técnica oficial completa e exaustiva de todos os 136+
    endpoints da API do Yeolpumta (YPT), incluindo resolução de avatares Studicons,
    fotos de perfil, capturas de Cam Study, mídias de chat e streams de áudio.
  version: 810.0.76
  contact:
    name: OpenYPT Project Team
    url: https://pi.tgclab.com
servers:
- url: https://pi.tgclab.com
  description: API REST Principal (Autenticação, Cronômetro, Grupos, Chat, Planner,
    Ranks)
- url: https://picf.tgclab.com
  description: CDN de Metadados Estáticos (Categorias, Catálogo de Studicons, Ranks
    Globais)
- url: https://alicdn.tgclab.com
  description: CDN de Assets e Mídias (Avatares Studicons .png, Miniaturas, Stickers,
    Cam Logs)
- url: https://alifn.tgclab.com
  description: Microserviço Serverless para Upload Multipart de Mídias
- url: https://alicdn.pallo.cn
  description: CDN de Mídia de Áudio e Capas (Ruído Branco e Playlists)
tags:
- name: Autenticação & Sessão
  description: Login direto JWT, splash-login e reload de perfil
- name: Matérias (Subject Studies)
  description: CRUD de disciplinas de estudo com cores ARGB e ordenação
- name: Cronômetro & Estudo
  description: Início, encerramento e adição retroativa de sessões de estudo
- name: Planner & Scheduler
  description: Tarefas, hábitos, pausas de descanso e calendário
- name: Logs Diários & Estatísticas
  description: Histórico diário e relatórios por intervalo de datas
- name: Rankings
  description: Rankings globais por categoria/país e rankings de membros do grupo
- name: Grupos de Estudo
  description: Busca, detalhes, ingresso e membros em tempo real
- name: Chat & Mídia
  description: Mensagens em grupo, histórico, figurinhas e upload de fotos
- name: Desafios & Missões
  description: Desafios com metas diárias e taxa de entrada
- name: Música & Ruído Branco
  description: Faixas de foco, ruídos brancos e playlists
- name: Grade de Horários (Timetable)
  description: Grade semanal de disciplinas
- name: Studicons & CDN Assets
  description: Avatares, poses de estudo, fotos de perfil e capturas de câmera
- name: Timelapses
  description: Vídeos acelerados de estudo
- name: Central de Notificações
  description: Notificações do sistema e avisos
- name: Configurações Globais
  description: Configurações do sistema e serviços
paths:
  /black:
    get:
      tags:
      - Configurações Globais
      summary: Endpoint GET /black
      description: 'Servidor: `https://pi.tgclab.com`. Processado a partir do tráfego
        capturado.'
      operationId: get_black
      security:
      - JWTAuth: []
      responses:
        '200':
          description: Operação realizada com sucesso
          content:
            application/json:
              example:
                s: true
                r: []
  /cam/2026-08-09/16300695:
    get:
      tags:
      - Configurações Globais
      summary: Endpoint GET /cam/2026-08-09/16300695
      description: 'Servidor: `https://alicdn.tgclab.com`. Processado a partir do
        tráfego capturado.'
      operationId: get_cam_2026_08_09_16300695
      security:
      - JWTAuth: []
      responses:
        '200':
          description: Operação realizada com sucesso
          content:
            application/json:
              example:
                s: true
  /category/category-by-country:
    get:
      tags:
      - Configurações Globais
      summary: Endpoint GET /category/category-by-country
      description: 'Servidor: `https://picf.tgclab.com`. Processado a partir do tráfego
        capturado.'
      operationId: get_category_category_by_country
      security:
      - JWTAuth: []
      parameters:
      - name: country_id
        in: query
        required: false
        schema:
          type: string
          example: '23'
      responses:
        '200':
          description: Operação realizada com sucesso
          content:
            application/json:
              example:
                s: true
                cs:
                - tt: 'Ensino Fundamental I '
                  t: EF1
                  o: 1
                  id: 198
                  sc: Estudantes
                - tt: Ensino Fundamental II
                  t: EF2
                  o: 2
                  id: 199
                  sc: Estudantes
                - tt: Ensino Médio – 1º ano
                  t: EM1
                  o: 3
                  id: 432
                  sc: Estudantes
                - tt: Ensino Médio – 2º ano
                  t: EM2
                  o: 4
                  id: 433
                  sc: Estudantes
                - tt: Ensino Médio – 3º ano (ENEM/Vestibular)
                  t: EM3-ENEM
                  o: 11
                  id: 200
                  sc: Estudantes
                - tt: Ensino Médio – 3º ano (ITA/IME)
                  t: EM3-ITA/IME
                  o: 11
                  id: 434
                  sc: Estudantes
                - tt: Repetente – ENEM/Vestibular
                  t: REP-ENEM
                  o: 12
                  id: 435
                  sc: Estudantes
                - tt: Repetente – ITA/IME
                  t: REP-ITA/IME
                  o: 13
                  id: 436
                  sc: Estudantes
                - tt: Estudante de Graduação
                  t: Graduação
                  o: 21
                  id: 201
                  sc: Universidade e Carreira
                - tt: 'Estudante de Pós-graduação '
                  t: Pós-graduação
                  o: 22
                  id: 438
                  sc: Universidade e Carreira
                - tt: Concurso Público
                  t: Concurso
                  o: 31
                  id: 439
                  sc: Concursos Públicos
                - tt: Magistério
                  t: Magistério
                  o: 32
                  id: 440
                  sc: Concursos Públicos
                - tt: Ordem dos Advogados do Brasil
                  t: OAB
                  o: 41
                  id: 441
                  sc: Exames Profissionais
                - tt: Exame do CFC
                  t: CFC
                  o: 42
                  id: 442
                  sc: Exames Profissionais
                - tt: Estudo de Idiomas
                  t: Idiomas
                  o: 52
                  id: 202
                  sc: Outros
                - tt: Leitura
                  t: Leitura
                  o: 53
                  id: 443
                  sc: Outros
                - tt: Preparação para Certificação
                  t: Certificação
                  o: 54
                  id: 444
                  sc: Outros
                - tt: Outros
                  t: Outros
                  o: 55
                  id: 203
                  sc: Outros
  /category/countries:
    get:
      tags:
      - Configurações Globais
      summary: Endpoint GET /category/countries
      description: 'Servidor: `https://picf.tgclab.com`. Processado a partir do tráfego
        capturado.'
      operationId: get_category_countries
      security:
      - JWTAuth: []
      responses:
        '200':
          description: Operação realizada com sucesso
          content:
            application/json:
              example:
                s: true
                cs:
                - t: SOUTH KOREA
                  c: KR
                  g: 9.0
                  id: 1
                  con: Asia
                  sg: 9
                  eg: 9
                  st: null
                  tz: Asia/Seoul
                  mc: null
                - t: JAPAN
                  c: JP
                  g: 9.0
                  id: 2
                  con: Asia
                  sg: 9
                  eg: 9
                  st: null
                  tz: Asia/Tokyo
                  mc: null
                - t: HONGKONG
                  c: HK
                  g: 8.0
                  id: 3
                  con: Asia
                  sg: 8
                  eg: 8
                  st: null
                  tz: Asia/Hong_Kong
                  mc:
                  - c: HK
                    t: HONGKONG
                    tz: Asia/Hong_Kong
                  - c: MO
                    t: MACAO
                    tz: Asia/Macau
                - t: TAIWAN
                  c: TW
                  g: 8.0
                  id: 10
                  con: Asia
                  sg: 8
                  eg: 8
                  st: null
                  tz: Asia/Taipei
                  mc: null
                - t: SINGAPORE
                  c: SG
                  g: 8.0
                  id: 4
                  con: Asia
                  sg: 8
                  eg: 8
                  st: null
                  tz: Asia/Singapore
                  mc: null
                - t: MALAYSIA
                  c: MY
                  g: 8.0
                  id: 20
                  con: Asia
                  sg: 8
                  eg: 8
                  st: null
                  tz: Asia/Kuala_Lumpur
                  mc: null
                - t: VIETNAM
                  c: VN
                  g: 7.0
                  id: 5
                  con: Asia
                  sg: 7
                  eg: 7
                  st: null
                  tz: Asia/Ho_Chi_Minh
                  mc: null
                - t: CHINA'S MAINLAND
                  c: CN
                  g: 8.0
                  id: 7
                  con: Asia
                  sg: 8
                  eg: 8
                  st: 5 AM CST
                  tz: Asia/Shanghai
                  mc: null
                - t: INDIA
                  c: IN
                  g: 5.5
                  id: 8
                  con: Asia
                  sg: 5
                  eg: 6
                  st: 5 AM
                  tz: Asia/Kolkata
                  mc: null
                - t: IRAN
                  c: IR
                  g: 3.5
                  id: 21
                  con: Asia
                  sg: 3
                  eg: 4
                  st: 5 AM
                  tz: Asia/Tehran
                  mc: null
                - t: THAILAND
                  c: TH
                  g: 7.0
                  id: 27
                  con: Asia
                  sg: 7
                  eg: 7
                  st: null
                  tz: Asia/Bangkok
                  mc: null
                - t: PHILIPPINES
                  c: PH
                  g: 8.0
                  id: 44
                  con: Asia
                  sg: 8
                  eg: 8
                  st: null
                  tz: Asia/Manila
                  mc: null
                - t: MYANMAR
                  c: MM
                  g: 6.75
                  id: 64
                  con: Asia
                  sg: 8
                  eg: 8
                  st: null
                  tz: Asia/Yangon
                  mc: null
                - t: NEPAL
                  c: NP
                  g: 5.5
                  id: 65
                  con: Asia
                  sg: 8
                  eg: 8
                  st: null
                  tz: Asia/Kathmandu
                  mc: null
                - t: INDONESIA
                  c: ID
                  g: 7.0
                  id: 34
                  con: Asia
                  sg: 7
                  eg: 7
                  st: 4 AM WIB
                  tz: Asia/Jakarta
                  mc: null
                - t: BANGLADESH
                  c: BD
                  g: 6.0
                  id: 47
                  con: Asia
                  sg: 6
                  eg: 6
                  st: null
                  tz: Asia/Dhaka
                  mc: null
                - t: PAKISTAN
                  c: PK
                  g: 5.0
                  id: 46
                  con: Asia
                  sg: 5
                  eg: 6
                  st: null
                  tz: Asia/Karachi
                  mc: null
                - t: TURKEY
                  c: TR
                  g: 3.0
                  id: 22
                  con: Europe
                  sg: 3
                  eg: 3
                  st: null
                  tz: Europe/Istanbul
                  mc: null
                - t: KAZAKHSTAN
                  c: KZ
                  g: 5.0
                  id: 53
                  con: Central Asia
                  sg: 5
                  eg: 5
                  st: 5 AM
                  tz: Asia/Almaty
                  mc: null
                - t: UKRAINE
                  c: UA
                  g: 2.0
                  id: 69
                  con: Europe
                  sg: 3
                  eg: 3
                  st: null
                  tz: Europe/Kyiv
                  mc: null
                - t: BELGIUM
                  c: BE
                  g: 1.0
                  id: 70
                  con: Europe
                  sg: 3
                  eg: 3
                  st: null
                  tz: Europe/Brussels
                  mc: null
                - t: IRELAND
                  c: IE
                  g: 0.0
                  id: 72
                  con: Europe
                  sg: 3
                  eg: 3
                  st: null
                  tz: Europe/Dublin
                  mc: null
                - t: DENMARK
                  c: DK
                  g: 1.0
                  id: 73
                  con: Europe
                  sg: 3
                  eg: 3
                  st: null
                  tz: Europe/Copenhagen
                  mc: null
                - t: RUSSIA(Moscow)
                  c: RU
                  g: 3.0
                  id: 6
                  con: Europe
                  sg: 3
                  eg: 12
                  st: 3 AM MSK
                  tz: Asia/Karachi
                  mc: null
                - t: FRANCE
                  c: FR
                  g: 2.0
                  id: 14
                  con: Europe
                  sg: 1
                  eg: 1
                  st: null
                  tz: Europe/Paris
                  mc: null
                - t: SWITZERLAND
                  c: CH
                  g: 2.0
                  id: 66
                  con: Europe
                  sg: 1
                  eg: 1
                  st: null
                  tz: Europe/Zurich
                  mc: null
                - t: POLAND
                  c: PL
                  g: 2.0
                  id: 67
                  con: Europe
                  sg: 1
                  eg: 1
                  st: null
                  tz: Europe/Warsaw
                  mc: null
                - t: SWEDEN
                  c: SE
                  g: 2.0
                  id: 68
                  con: Europe
                  sg: 1
                  eg: 1
                  st: null
                  tz: Europe/Stockholm
                  mc: null
                - t: SPAIN
                  c: ES
                  g: 2.0
                  id: 16
                  con: Europe
                  sg: 1
                  eg: 1
                  st: null
                  tz: Europe/Madrid
                  mc: null
                - t: NORWAY
                  c: 'NO'
                  g: 2.0
                  id: 40
                  con: Europe
                  sg: 2
                  eg: 2
                  st: null
                  tz: Europe/Oslo
                  mc: null
                - t: FINLAND
                  c: FI
                  g: 3.0
                  id: 41
                  con: Europe
                  sg: 3
                  eg: 3
                  st: null
                  tz: Europe/Helsinki
                  mc: null
                - t: NETHERLANDS
                  c: NL
                  g: 2.0
                  id: 45
                  con: Europe
                  sg: 1
                  eg: 1
                  st: null
                  tz: Europe/Amsterdam
                  mc: null
                - t: BELARUS
                  c: BY
                  g: 3.0
                  id: 54
                  con: Europe
                  sg: 3
                  eg: 3
                  st: 5 AM
                  tz: Europe/Minsk
                  mc: null
                - t: GERMANY
                  c: DE
                  g: 2.0
                  id: 17
                  con: Europe
                  sg: 1
                  eg: 1
                  st: null
                  tz: Europe/Berlin
                  mc: null
                - t: ITALY
                  c: IT
                  g: 2.0
                  id: 18
                  con: Europe
                  sg: 1
                  eg: 1
                  st: null
                  tz: Europe/Rome
                  mc: null
                - t: ENGLAND
                  c: GB
                  g: 1.0
                  id: 15
                  con: Europe
                  sg: 0
                  eg: 0
                  st: null
                  tz: Europe/London
                  mc: null
                - t: MOROCCO
                  c: MA
                  g: 1.0
                  id: 61
                  con: Africa
                  sg: 0
                  eg: 0
                  st: null
                  tz: Africa/Casablanca
                  mc: null
                - t: BRAZIL
                  c: BR
                  g: -3.0
                  id: 23
                  con: South America
                  sg: -5
                  eg: -2
                  st: 5 AM BRT
                  tz: America/Sao_Paulo
                  mc: null
                - t: MEXICO
                  c: MX
                  g: -6.0
                  id: 49
                  con: North America
                  sg: -7
                  eg: -6
                  st: 5 AM CST
                  tz: America/Mexico_City
                  mc: null
                - t: PERU
                  c: PE
                  g: -5.0
                  id: 50
                  con: South America
                  sg: -5
                  eg: -5
                  st: null
                  tz: America/Lima
                  mc: null
                - t: PARAGUAY
                  c: PY
                  g: -4.0
                  id: 51
                  con: South America
                  sg: -4
                  eg: -4
                  st: null
                  tz: America/Asuncion
                  mc: null
                - t: ARGENTINA
                  c: AR
                  g: -3.0
                  id: 52
                  con: South America
                  sg: -3
                  eg: -3
                  st: null
                  tz: America/Argentina/Buenos_Aires
                  mc: null
                - t: COLOMBIA
                  c: CO
                  g: -5.0
                  id: 60
                  con: South America
                  sg: -5
                  eg: -5
                  st: null
                  tz: America/Bogota
                  mc: null
                - t: CHILE
                  c: CL
                  g: -3.0
                  id: 62
                  con: South America
                  sg: -4
                  eg: -3
                  st: null
                  tz: America/Santiago
                  mc: null
                - t: LIBYA
                  c: LY
                  g: 2.0
                  id: 75
                  con: Africa
                  sg: -3
                  eg: -3
                  st: null
                  tz: Africa/Tripoli
                  mc: null
                - t: AZERBAIJAN
                  c: AZ
                  g: 4.0
                  id: 76
                  con: Asia
                  sg: -3
                  eg: -3
                  st: null
                  tz: Asia/Baku
                  mc: null
                - t: ETHIOPIA
                  c: ET
                  g: 3.0
                  id: 77
                  con: Africa
                  sg: 3
                  eg: 3
                  st: null
                  tz: Africa/Addis_Ababa
                  mc: null
                - t: USA
                  c: US
                  g: -5.0
                  id: 12
                  con: North America
                  sg: -10
                  eg: -4
                  st: 5 AM EST
                  tz: America/New_York
                  mc: null
                - t: CANADA
                  c: CA
                  g: -4.0
                  id: 37
                  con: North America
                  sg: -5
                  eg: -5
                  st: 5 AM EST
                  tz: America/Toronto
                  mc: null
                - t: AUSTRALIA
                  c: AU
                  g: 10.0
                  id: 11
                  con: Oceania
                  sg: 7
                  eg: 12
                  st: 5 AM AEDT
                  tz: Australia/Sydney
                  mc: null
                - t: NEW ZEALAND
                  c: NZ
                  g: 12.0
                  id: 19
                  con: Oceania
                  sg: 12
                  eg: 13
                  st: 5 AM NZDT
                  tz: Pacific/Auckland
                  mc: null
                - t: UNITED ARAB EMIRATES
                  c: AE
                  g: 4.0
                  id: 57
                  con: Middle East
                  sg: 4
                  eg: 4
                  st: 5 AM
                  tz: Asia/Dubai
                  mc: null
                - t: SAUDI ARABIA
                  c: SA
                  g: 3.0
                  id: 58
                  con: Middle East
                  sg: 3
                  eg: 3
                  st: 5 AM
                  tz: Asia/Riyadh
                  mc: null
                - t: IRAQ
                  c: IQ
                  g: 3.0
                  id: 59
                  con: Middle East
                  sg: 3
                  eg: 3
                  st: 5 AM
                  tz: Asia/Baghdad
                  mc: null
                - t: EGYPT
                  c: EG
                  g: 2.0
                  id: 55
                  con: Africa
                  sg: 3
                  eg: 3
                  st: 5 AM
                  tz: Africa/Cairo
                  mc: null
                - t: SOUTH AFRICA
                  c: ZA
                  g: 2.0
                  id: 56
                  con: Africa
                  sg: 2
                  eg: 2
                  st: 5 AM
                  tz: Africa/Johannesburg
                  mc:
                  - c: ZA
                    t: SOUTH AFRICA
                    tz: Africa/Johannesburg
                  - c: LS
                    t: LESOTHO
                    tz: Africa/Maseru
                  - c: SZ
                    t: ESWATINI
                    tz: Africa/Mbabane
                - t: ALGERIA
                  c: DZ
                  g: 1.0
                  id: 63
                  con: Africa
                  sg: 2
                  eg: 2
                  st: 5 AM
                  tz: Africa/Algiers
                  mc: null
                - t: AUSTRIA
                  c: AT
                  g: 2.0
                  id: 101
                  con: Europe
                  sg: 1
                  eg: 1
                  st: null
                  tz: Europe/Vienna
                  mc: null
                - t: ROMANIA
                  c: RO
                  g: 3.0
                  id: 102
                  con: Europe
                  sg: 2
                  eg: 2
                  st: null
                  tz: Europe/Bucharest
                  mc: null
                - t: GREECE
                  c: GR
                  g: 3.0
                  id: 103
                  con: Europe
                  sg: 2
                  eg: 2
                  st: null
                  tz: Europe/Athens
                  mc: null
                - t: PORTUGAL
                  c: PT
                  g: 1.0
                  id: 104
                  con: Europe
                  sg: 0
                  eg: 0
                  st: null
                  tz: Europe/Lisbon
                  mc: null
                - t: UZBEKISTAN
                  c: UZ
                  g: 5.0
                  id: 105
                  con: Asia
                  sg: 5
                  eg: 5
                  st: null
                  tz: Asia/Tashkent
                  mc: null
                - t: QATAR
                  c: QA
                  g: 3.0
                  id: 106
                  con: Asia
                  sg: 3
                  eg: 3
                  st: null
                  tz: Asia/Qatar
                  mc: null
                - t: MONGOLIA
                  c: MN
                  g: 8.0
                  id: 107
                  con: Asia
                  sg: 8
                  eg: 8
                  st: null
                  tz: Asia/Ulaanbaatar
                  mc: null
                - t: JORDAN
                  c: JO
                  g: 3.0
                  id: 108
                  con: Asia
                  sg: 3
                  eg: 3
                  st: null
                  tz: Asia/Amman
                  mc: null
                - t: KYRGYZSTAN
                  c: KG
                  g: 6.0
                  id: 109
                  con: Asia
                  sg: 6
                  eg: 6
                  st: null
                  tz: Asia/Bishkek
                  mc: null
                - t: SERBIA
                  c: RS
                  g: 2.0
                  id: 110
                  con: Europe
                  sg: 1
                  eg: 1
                  st: null
                  tz: Europe/Belgrade
                  mc: null
                - t: SRI LANKA
                  c: LK
                  g: 5.5
                  id: 111
                  con: Asia
                  sg: 6
                  eg: 6
                  st: null
                  tz: Asia/Colombo
                  mc: null
                - t: CZECHIA
                  c: CZ
                  g: 2.0
                  id: 112
                  con: Europe
                  sg: 1
                  eg: 1
                  st: null
                  tz: Europe/Prague
                  mc: null
                - t: TUNISIA
                  c: TN
                  g: 1.0
                  id: 113
                  con: Africa
                  sg: 1
                  eg: 1
                  st: null
                  tz: Africa/Tunis
                  mc: null
                - t: LATVIA
                  c: LV
                  g: 3.0
                  id: 114
                  con: Europe
                  sg: 2
                  eg: 2
                  st: null
                  tz: Europe/Riga
                  mc: null
                - t: ISRAEL
                  c: IL
                  g: 3.0
                  id: 115
                  con: Asia
                  sg: 2
                  eg: 2
                  st: null
                  tz: Asia/Jerusalem
                  mc: null
                - t: SYRIA
                  c: SY
                  g: 3.0
                  id: 116
                  con: Asia
                  sg: 3
                  eg: 3
                  st: null
                  tz: Asia/Damascus
                  mc: null
                - t: BULGARIA
                  c: BG
                  g: 3.0
                  id: 117
                  con: Europe
                  sg: 2
                  eg: 2
                  st: null
                  tz: Europe/Sofia
                  mc: null
                - t: BRUNEI
                  c: BN
                  g: 8.0
                  id: 118
                  con: Asia
                  sg: 8
                  eg: 8
                  st: null
                  tz: Asia/Brunei
                  mc: null
                - t: OMAN
                  c: OM
                  g: 4.0
                  id: 119
                  con: Asia
                  sg: 4
                  eg: 4
                  st: null
                  tz: Asia/Muscat
                  mc: null
                - t: LAOS
                  c: LA
                  g: 7.0
                  id: 120
                  con: Asia
                  sg: 7
                  eg: 7
                  st: null
                  tz: Asia/Vientiane
                  mc: null
                - t: LEBANON
                  c: LB
                  g: 3.0
                  id: 121
                  con: Asia
                  sg: 2
                  eg: 2
                  st: null
                  tz: Asia/Beirut
                  mc: null
                - t: NIGERIA
                  c: NG
                  g: 1.0
                  id: 122
                  con: Africa
                  sg: 1
                  eg: 1
                  st: null
                  tz: Africa/Lagos
                  mc: null
                - t: DR CONGO
                  c: CD
                  g: 1.0
                  id: 123
                  con: Africa
                  sg: 1
                  eg: 2
                  st: null
                  tz: Africa/Kinshasa
                  mc: null
                - t: AFGHANISTAN
                  c: AF
                  g: 4.5
                  id: 124
                  con: Asia
                  sg: 4
                  eg: 5
                  st: null
                  tz: Asia/Kabul
                  mc: null
                - t: CAMBODIA
                  c: KH
                  g: 7.0
                  id: 125
                  con: Asia
                  sg: 7
                  eg: 7
                  st: null
                  tz: Asia/Phnom_Penh
                  mc: null
                - t: PAPUA NEW GUINEA
                  c: PG
                  g: 10.0
                  id: 126
                  con: Oceania
                  sg: 10
                  eg: 10
                  st: null
                  tz: Pacific/Port_Moresby
                  mc: null
                - t: URUGUAY
                  c: UY
                  g: -3.0
                  id: 127
                  con: South America
                  sg: -3
                  eg: -3
                  st: null
                  tz: America/Montevideo
                  mc: null
                - t: JAMAICA
                  c: JM
                  g: -5.0
                  id: 128
                  con: North America
                  sg: -5
                  eg: -5
                  st: null
                  tz: America/Jamaica
                  mc: null
                - t: TIMOR-LESTE
                  c: TL
                  g: 9.0
                  id: 129
                  con: Asia
                  sg: 9
                  eg: 9
                  st: null
                  tz: Asia/Dili
                  mc: null
                - t: WEST AFRICA
                  c: WAFR
                  g: 0.0
                  id: 130
                  con: Africa
                  sg: 0
                  eg: 0
                  st: null
                  tz: Africa/Abidjan
                  mc:
                  - c: GH
                    t: GHANA
                    tz: Africa/Accra
                  - c: CI
                    t: COTE D'IVOIRE
                    tz: Africa/Abidjan
                  - c: ML
                    t: MALI
                    tz: Africa/Bamako
                  - c: BF
                    t: BURKINA FASO
                    tz: Africa/Ouagadougou
                  - c: SN
                    t: SENEGAL
                    tz: Africa/Dakar
                  - c: GN
                    t: GUINEA
                    tz: Africa/Conakry
                  - c: TG
                    t: TOGO
                    tz: Africa/Lome
                  - c: SL
                    t: SIERRA LEONE
                    tz: Africa/Freetown
                  - c: LR
                    t: LIBERIA
                    tz: Africa/Monrovia
                  - c: MR
                    t: MAURITANIA
                    tz: Africa/Nouakchott
                  - c: GM
                    t: GAMBIA
                    tz: Africa/Banjul
                  - c: GW
                    t: GUINEA-BISSAU
                    tz: Africa/Bissau
                  - c: ST
                    t: SAO TOME AND PRINCIPE
                    tz: Africa/Sao_Tome
                - t: AFRICA (GMT+1)
                  c: AFR1
                  g: 1.0
                  id: 137
                  con: Africa
                  sg: 1
                  eg: 1
                  st: null
                  tz: Africa/Douala
                  mc:
                  - c: AO
                    t: ANGOLA
                    tz: Africa/Luanda
                  - c: CM
                    t: CAMEROON
                    tz: Africa/Douala
                  - c: NE
                    t: NIGER
                    tz: Africa/Niamey
                  - c: TD
                    t: CHAD
                    tz: Africa/Ndjamena
                  - c: BJ
                    t: BENIN
                    tz: Africa/Porto-Novo
                  - c: CG
                    t: REPUBLIC OF THE CONGO
                    tz: Africa/Brazzaville
                  - c: CF
                    t: CENTRAL AFRICAN REPUBLIC
                    tz: Africa/Bangui
                  - c: GA
                    t: GABON
                    tz: Africa/Libreville
                  - c: GQ
                    t: EQUATORIAL GUINEA
                    tz: Africa/Malabo
                - t: AFRICA (GMT+2)
                  c: AFR2
                  g: 2.0
                  id: 138
                  con: Africa
                  sg: 2
                  eg: 2
                  st: null
                  tz: Africa/Maputo
                  mc:
                  - c: SD
                    t: SUDAN
                    tz: Africa/Khartoum
                  - c: MZ
                    t: MOZAMBIQUE
                    tz: Africa/Maputo
                  - c: MW
                    t: MALAWI
                    tz: Africa/Blantyre
                  - c: ZM
                    t: ZAMBIA
                    tz: Africa/Lusaka
                  - c: ZW
                    t: ZIMBABWE
                    tz: Africa/Harare
                  - c: RW
                    t: RWANDA
                    tz: Africa/Kigali
                  - c: BI
                    t: BURUNDI
                    tz: Africa/Bujumbura
                  - c: SS
                    t: SOUTH SUDAN
                    tz: Africa/Juba
                  - c: NA
                    t: NAMIBIA
                    tz: Africa/Windhoek
                  - c: BW
                    t: BOTSWANA
                    tz: Africa/Gaborone
                - t: EAST AFRICA
                  c: EAFR
                  g: 3.0
                  id: 139
                  con: Africa
                  sg: 3
                  eg: 3
                  st: null
                  tz: Africa/Nairobi
                  mc:
                  - c: TZ
                    t: TANZANIA
                    tz: Africa/Dar_es_Salaam
                  - c: KE
                    t: KENYA
                    tz: Africa/Nairobi
                  - c: UG
                    t: UGANDA
                    tz: Africa/Kampala
                  - c: MG
                    t: MADAGASCAR
                    tz: Indian/Antananarivo
                  - c: SO
                    t: SOMALIA
                    tz: Africa/Mogadishu
                  - c: ER
                    t: ERITREA
                    tz: Africa/Asmara
                  - c: DJ
                    t: DJIBOUTI
                    tz: Africa/Djibouti
                  - c: KM
                    t: COMOROS
                    tz: Indian/Comoro
                - t: CENTRAL AMERICA
                  c: CAMR
                  g: -6.0
                  id: 140
                  con: North America
                  sg: -6
                  eg: -6
                  st: null
                  tz: America/Guatemala
                  mc:
                  - c: GT
                    t: GUATEMALA
                    tz: America/Guatemala
                  - c: HN
                    t: HONDURAS
                    tz: America/Tegucigalpa
                  - c: NI
                    t: NICARAGUA
                    tz: America/Managua
                  - c: SV
                    t: EL SALVADOR
                    tz: America/El_Salvador
                  - c: CR
                    t: COSTA RICA
                    tz: America/Costa_Rica
                  - c: BZ
                    t: BELIZE
                    tz: America/Belize
                - t: LATIN AMERICA (GMT-5)
                  c: LAM5
                  g: -5.0
                  id: 141
                  con: South America
                  sg: -5
                  eg: -5
                  st: null
                  tz: America/Guayaquil
                  mc:
                  - c: EC
                    t: ECUADOR
                    tz: America/Guayaquil
                  - c: PA
                    t: PANAMA
                    tz: America/Panama
                - t: CARIBBEAN
                  c: CARB
                  g: -4.0
                  id: 142
                  con: North America
                  sg: -5
                  eg: -5
                  st: null
                  tz: America/Nassau
                  mc:
                  - c: HT
                    t: HAITI
                    tz: America/Port-au-Prince
                  - c: BS
                    t: BAHAMAS
                    tz: America/Nassau
                - t: EASTERN CARIBBEAN
                  c: ECRB
                  g: -4.0
                  id: 143
                  con: North America
                  sg: -4
                  eg: -4
                  st: null
                  tz: America/Port_of_Spain
                  mc:
                  - c: TT
                    t: TRINIDAD AND TOBAGO
                    tz: America/Port_of_Spain
                  - c: GY
                    t: GUYANA
                    tz: America/Guyana
                  - c: BB
                    t: BARBADOS
                    tz: America/Barbados
                  - c: LC
                    t: SAINT LUCIA
                    tz: America/St_Lucia
                  - c: GD
                    t: GRENADA
                    tz: America/Grenada
                  - c: VC
                    t: SAINT VINCENT
                    tz: America/St_Vincent
                  - c: AG
                    t: ANTIGUA AND BARBUDA
                    tz: America/Antigua
                  - c: DM
                    t: DOMINICA
                    tz: America/Dominica
                  - c: KN
                    t: SAINT KITTS AND NEVIS
                    tz: America/St_Kitts
                - t: EUROPE (GMT+1)
                  c: EUR1
                  g: 2.0
                  id: 144
                  con: Europe
                  sg: 1
                  eg: 1
                  st: null
                  tz: Europe/Budapest
                  mc:
                  - c: HU
                    t: HUNGARY
                    tz: Europe/Budapest
                  - c: SK
                    t: SLOVAKIA
                    tz: Europe/Bratislava
                  - c: HR
                    t: CROATIA
                    tz: Europe/Zagreb
                  - c: BA
                    t: BOSNIA AND HERZEGOVINA
                    tz: Europe/Sarajevo
                  - c: AL
                    t: ALBANIA
                    tz: Europe/Tirane
                  - c: SI
                    t: SLOVENIA
                    tz: Europe/Ljubljana
                  - c: MK
                    t: NORTH MACEDONIA
                    tz: Europe/Skopje
                - t: EUROPE (GMT+2)
                  c: EUR2
                  g: 3.0
                  id: 145
                  con: Europe
                  sg: 2
                  eg: 2
                  st: null
                  tz: Europe/Vilnius
                  mc:
                  - c: MD
                    t: MOLDOVA
                    tz: Europe/Chisinau
                  - c: LT
                    t: LITHUANIA
                    tz: Europe/Vilnius
                  - c: EE
                    t: ESTONIA
                    tz: Europe/Tallinn
                  - c: CY
                    t: CYPRUS
                    tz: Asia/Nicosia
                - t: EUROPE (GMT+4)
                  c: EUR4
                  g: 4.0
                  id: 146
                  con: Europe
                  sg: 4
                  eg: 4
                  st: null
                  tz: Asia/Tbilisi
                  mc:
                  - c: GE
                    t: GEORGIA
                    tz: Asia/Tbilisi
                  - c: AM
                    t: ARMENIA
                    tz: Asia/Yerevan
                - t: SMALL STATES OF EUROPE
                  c: SSEU
                  g: 2.0
                  id: 147
                  con: Europe
                  sg: 1
                  eg: 1
                  st: null
                  tz: Europe/Luxembourg
                  mc:
                  - c: LU
                    t: LUXEMBOURG
                    tz: Europe/Luxembourg
                  - c: ME
                    t: MONTENEGRO
                    tz: Europe/Podgorica
                  - c: MT
                    t: MALTA
                    tz: Europe/Malta
                  - c: AD
                    t: ANDORRA
                    tz: Europe/Andorra
                  - c: LI
                    t: LIECHTENSTEIN
                    tz: Europe/Vaduz
                  - c: MC
                    t: MONACO
                    tz: Europe/Monaco
                  - c: SM
                    t: SAN MARINO
                    tz: Europe/San_Marino
                - t: CENTRAL ASIA
                  c: CASI
                  g: 5.0
                  id: 148
                  con: Central Asia
                  sg: 5
                  eg: 5
                  st: null
                  tz: Asia/Dushanbe
                  mc:
                  - c: TJ
                    t: TAJIKISTAN
                    tz: Asia/Dushanbe
                  - c: TM
                    t: TURKMENISTAN
                    tz: Asia/Ashgabat
                - t: INDIAN OCEAN ISLANDS
                  c: IOIS
                  g: 4.0
                  id: 149
                  con: Africa
                  sg: 4
                  eg: 4
                  st: null
                  tz: Indian/Mauritius
                  mc:
                  - c: MU
                    t: MAURITIUS
                    tz: Indian/Mauritius
                  - c: SC
                    t: SEYCHELLES
                    tz: Indian/Mahe
                - t: PACIFIC ISLANDS
                  c: PACI
                  g: 12.0
                  id: 150
                  con: Oceania
                  sg: 12
                  eg: 12
                  st: null
                  tz: Pacific/Tarawa
                  mc:
                  - c: FJ
                    t: FIJI
                    tz: Pacific/Fiji
                  - c: KI
                    t: KIRIBATI
                    tz: Pacific/Tarawa
                  - c: MH
                    t: MARSHALL ISLANDS
                    tz: Pacific/Majuro
                  - c: NR
                    t: NAURU
                    tz: Pacific/Nauru
                  - c: TV
                    t: TUVALU
                    tz: Pacific/Funafuti
                - t: MELANESIA
                  c: MELA
                  g: 11.0
                  id: 151
                  con: Oceania
                  sg: 11
                  eg: 11
                  st: null
                  tz: Pacific/Guadalcanal
                  mc:
                  - c: SB
                    t: SOLOMON ISLANDS
                    tz: Pacific/Guadalcanal
                  - c: VU
                    t: VANUATU
                    tz: Pacific/Efate
                - t: POLYNESIA
                  c: POLY
                  g: 13.0
                  id: 152
                  con: Oceania
                  sg: 13
                  eg: 13
                  st: null
                  tz: Pacific/Apia
                  mc:
                  - c: WS
                    t: SAMOA
                    tz: Pacific/Apia
                  - c: TO
                    t: TONGA
                    tz: Pacific/Tongatapu
                - t: LATIN AMERICA (GMT-4)
                  c: LAM4
                  g: -4.0
                  id: 153
                  con: South America
                  sg: -4
                  eg: -4
                  st: null
                  tz: America/Caracas
                  mc:
                  - c: VE
                    t: VENEZUELA
                    tz: America/Caracas
                  - c: BO
                    t: BOLIVIA
                    tz: America/La_Paz
                  - c: DO
                    t: DOMINICAN REPUBLIC
                    tz: America/Santo_Domingo
                - t: ARABIAN PENINSULA
                  c: ARAB
                  g: 3.0
                  id: 154
                  con: Middle East
                  sg: 3
                  eg: 3
                  st: null
                  tz: Asia/Kuwait
                  mc:
                  - c: YE
                    t: YEMEN
                    tz: Asia/Aden
                  - c: KW
                    t: KUWAIT
                    tz: Asia/Kuwait
                  - c: BH
                    t: BAHRAIN
                    tz: Asia/Bahrain
  /chat/group/info:
    get:
      tags:
      - Chat & Mídia
      summary: Endpoint GET /chat/group/info
      description: 'Servidor: `https://pi.tgclab.com`. Processado a partir do tráfego
        capturado.'
      operationId: get_chat_group_info
      security:
      - JWTAuth: []
      parameters:
      - name: group_id
        in: query
        required: false
        schema:
          type: string
          example: '6487271'
      responses:
        '200':
          description: Operação realizada com sucesso
          content:
            application/json:
              example:
                gid: 6487271
                cnt: 0
                lm: ''
                lma: null
                cn: Pessoal, boa noite! Gostaria de saber se teria alguém interessado
                  em me ajudar a controlar a presença dos integrantes do grupo e até
                  me dar advertência pra me motivar também Kkkk caso alguém esteja
                  interessado, só responder aqui!!
                acc: -1
                can: true
                iac: true
                mcc: 0
                ra:
                  '11536517': '2026-06-26T16:52:48.926761+00:00'
                  '9472284': '2026-06-24T18:10:10.835061+00:00'
                  '8445408': '2026-05-18T11:10:06.861887+00:00'
                  '11667454': '2026-07-24T13:11:00.772542+00:00'
                  '11268414': '2026-05-23T20:45:46.086678+00:00'
                  '16241247': '2026-07-27T17:42:46.542529+00:00'
                  '8436253': '2026-07-27T17:42:46.542529+00:00'
                  '16075499': '2026-07-09T12:36:48.395050+00:00'
                  '16160388': '2026-05-23T20:45:46.086678+00:00'
                  '16594440': '2026-05-18T14:08:50.173202+00:00'
                  '15306015': '2026-06-04T17:16:10.385270+00:00'
                  '16597005': '2026-06-16T10:45:51.461072+00:00'
                  '16334555': '2026-06-26T16:52:48.926761+00:00'
                  '13208562': '2026-06-02T09:21:27.461057+00:00'
                  '11800733': '2026-06-05T12:23:34.542701+00:00'
                  '15352720': '2026-06-08T15:19:42.220805+00:00'
                  '15138323': '2026-05-18T17:41:03.228018+00:00'
                  '15209524': '2026-07-27T17:42:46.542529+00:00'
                  '12925773': '2026-05-23T20:45:46.086678+00:00'
                  '14646855': '2026-05-18T19:02:36.901560+00:00'
                  '11526544': '2026-07-27T17:42:46.542529+00:00'
                  '14656324': '2026-05-23T20:45:46.086678+00:00'
                  '15984059': '2026-05-19T01:27:27.741035+00:00'
                  '6117633': '2026-06-18T01:17:17.967173+00:00'
                  '15558484': '2026-07-17T23:00:24.822054+00:00'
                  '16606214': '2026-07-27T17:42:46.542529+00:00'
                  '12321839': '2026-06-26T16:52:48.926761+00:00'
                  '11376147': '2026-06-08T15:19:42.220805+00:00'
                  '16647812': '2026-07-27T17:42:46.542529+00:00'
                  '16268650': '2026-06-08T15:19:42.220805+00:00'
                  '13042489': '2026-05-19T21:14:47.106716+00:00'
                  '10119206': '2026-05-19T21:20:01.105406+00:00'
                  '11533809': '2026-05-21T13:07:00.247481+00:00'
                  '12473374': '2026-05-25T19:41:22.155283+00:00'
                  '5846888': '2026-06-18T01:14:28.884170+00:00'
                  '8899108': '2026-05-26T12:40:46.409827+00:00'
                  '15256829': '2026-07-17T23:00:24.822054+00:00'
                  '14177892': '2026-05-28T16:30:13.236077+00:00'
                  '16712415': '2026-05-28T21:44:24.655068+00:00'
                  '4804512': '2026-06-04T20:46:04.843109+00:00'
                  '8929410': '2026-07-27T17:42:46.542529+00:00'
                  '11663520': '2026-05-30T22:20:30.818993+00:00'
                  '13233431': '2026-06-11T11:17:30.535855+00:00'
                  '16280368': '2026-06-02T09:21:27.461057+00:00'
                  '16724944': '2026-06-03T12:50:32.772279+00:00'
                  '4881091': '2026-07-07T01:14:39.512613+00:00'
                  '16799551': '2026-06-11T15:55:21.816833+00:00'
                  '7824773': '2026-06-18T01:17:17.967173+00:00'
                  '7449043': '2026-06-06T22:13:38.348583+00:00'
                  '16857039': '2026-06-24T18:10:10.835061+00:00'
                  '16823639': '2026-06-07T17:38:21.334483+00:00'
                  '16857150': '2026-06-07T17:42:48.855899+00:00'
                  '16856701': '2026-07-27T17:42:46.542529+00:00'
                  '11795581': '2026-06-10T00:17:57.118542+00:00'
                  '16872836': '2026-06-10T14:26:41.609575+00:00'
                  '12967361': '2026-07-09T12:36:48.395050+00:00'
                  '16749929': '2026-07-27T17:42:46.542529+00:00'
                  '16210716': '2026-06-16T10:45:51.461072+00:00'
                  '13096033': '2026-06-15T17:04:14.127011+00:00'
                  '15649808': '2026-06-15T17:09:04.282398+00:00'
                  '13151081': '2026-06-26T16:14:21.343581+00:00'
                  '12538529': '2026-07-17T23:00:24.822054+00:00'
                  '16926754': '2026-07-02T19:30:29.770756+00:00'
                  '16971829': '2026-07-09T12:36:48.395050+00:00'
                  '16229508': '2026-06-26T16:52:48.926761+00:00'
                  '12603211': '2026-06-21T00:59:40.242143+00:00'
                  '15414817': '2026-06-24T18:10:10.835061+00:00'
                  '16113219': '2026-06-26T16:52:48.926761+00:00'
                  '16491751': '2026-07-08T18:42:42.788575+00:00'
                  '16323097': '2026-06-26T14:40:26.382531+00:00'
                  '11533299': '2026-07-06T13:01:29.415344+00:00'
                  '16715184': '2026-06-28T18:08:27.603696+00:00'
                  '14436643': '2026-07-01T20:34:00.931251+00:00'
                  '11758618': '2026-07-17T23:00:24.822054+00:00'
                  '12550506': '2026-07-08T20:24:18.147408+00:00'
                  '12795754': '2026-07-02T13:33:06.886172+00:00'
                  '12744663': '2026-07-02T13:46:46.132518+00:00'
                  '16030278': '2026-07-09T12:36:48.395050+00:00'
                  '6348458': '2026-07-27T17:42:46.542529+00:00'
                  '16526961': '2026-07-09T12:36:48.395050+00:00'
                  '6892542': '2026-07-23T17:28:03.629673+00:00'
                  '16879239': '2026-07-09T12:36:48.395050+00:00'
                  '12911229': '2026-07-23T17:28:03.629673+00:00'
                  '17234259': '2026-07-09T12:33:01.653522+00:00'
                  '15225611': '2026-07-12T02:38:16.171036+00:00'
                  '17264608': '2026-07-17T23:00:24.822054+00:00'
                  '8384656': '2026-07-12T13:28:29.889732+00:00'
                  '15333970': '2026-07-12T13:30:37.428251+00:00'
                  '15400846': '2026-07-27T17:42:46.542529+00:00'
                  '16819273': '2026-07-17T23:00:24.822054+00:00'
                  '13267545': '2026-07-15T00:56:12.681982+00:00'
                  '12779225': '2026-07-27T17:42:46.542529+00:00'
                  '12044159': '2026-07-17T23:00:24.822054+00:00'
                  '11313607': '2026-07-24T13:11:00.772542+00:00'
                  '17345175': '2026-07-17T23:00:24.822054+00:00'
                  '12627888': '2026-07-22T19:50:57.672881+00:00'
                  '15838349': '2026-07-27T17:42:46.542529+00:00'
                  '16310811': '2026-07-27T17:42:46.542529+00:00'
                  '16078241': '2026-07-27T17:42:46.542529+00:00'
                  '17383900': '2026-07-27T17:42:46.542529+00:00'
                  '13355432': '2026-07-27T17:42:46.542529+00:00'
                  '12496938': '2026-07-27T17:42:46.542529+00:00'
                  '7938611': '2026-07-26T23:51:32.134446+00:00'
                  '15531242': '2026-07-27T12:29:25.231042+00:00'
                  '11685017': '2026-07-29T11:03:15.612255+00:00'
                  '17375188': '2026-07-29T11:06:36.769286+00:00'
                  '8152455': '2026-07-30T22:50:27.966648+00:00'
                  '17457781': '2026-08-02T23:27:29.967122+00:00'
                  '16130293': '2026-08-02T23:54:19.572045+00:00'
                  '17314980': '2026-08-03T00:29:13.684459+00:00'
                  '16772071': '2026-08-03T00:31:52.083373+00:00'
                  '12574680': '2026-08-03T14:04:26.520842+00:00'
                  '16722292': '2026-08-03T14:09:19.183154+00:00'
                  '12568884': '2026-08-03T21:06:50.376730+00:00'
                  '12029290': '2026-08-04T13:49:20.461659+00:00'
                  '11223096': '2026-08-05T01:19:18.038898+00:00'
                  '11961305': '2026-08-05T01:50:42.906528+00:00'
                  '16960317': '2026-08-05T02:02:04.065048+00:00'
                  '17029548': '2026-08-06T19:55:41.912890+00:00'
                  '17558159': '2026-08-10T00:09:36.926355+00:00'
                  '15566475': '2026-08-10T00:10:09.210121+00:00'
                  '16300695': '2026-08-10T00:10:34.080771+00:00'
                rc:
                  '11536517': 102
                  '9472284': 100
                  '8445408': 0
                  '11667454': 124
                  '11268414': 44
                  '16241247': 125
                  '8436253': 125
                  '16075499': 122
                  '16160388': 44
                  '16594440': 0
                  '15306015': 62
                  '16597005': 80
                  '16334555': 102
                  '13208562': 53
                  '11800733': 66
                  '15352720': 67
                  '15138323': 0
                  '15209524': 125
                  '12925773': 44
                  '14646855': 0
                  '11526544': 125
                  '14656324': 44
                  '15984059': 0
                  '6117633': 95
                  '15558484': 123
                  '16606214': 125
                  '12321839': 102
                  '11376147': 67
                  '16647812': 125
                  '16268650': 67
                  '13042489': 21
                  '10119206': 21
                  '11533809': 34
                  '12473374': 44
                  '5846888': 94
                  '8899108': 44
                  '15256829': 123
                  '14177892': 44
                  '16712415': 44
                  '4804512': 64
                  '8929410': 125
                  '11663520': 44
                  '13233431': 72
                  '16280368': 53
                  '16724944': 59
                  '4881091': 104
                  '16799551': 73
                  '7824773': 95
                  '7449043': 66
                  '16857039': 100
                  '16823639': 66
                  '16857150': 66
                  '16856701': 125
                  '11795581': 71
                  '16872836': 71
                  '12967361': 122
                  '16749929': 125
                  '16210716': 80
                  '13096033': 79
                  '15649808': 79
                  '13151081': 101
                  '12538529': 123
                  '16926754': 102
                  '16971829': 122
                  '16229508': 102
                  '12603211': 95
                  '15414817': 100
                  '16113219': 102
                  '16491751': 111
                  '16323097': 100
                  '11533299': 103
                  '16715184': 102
                  '14436643': 102
                  '11758618': 123
                  '12550506': 114
                  '12795754': 102
                  '12744663': 102
                  '16030278': 122
                  '6348458': 125
                  '16526961': 122
                  '6892542': 124
                  '16879239': 122
                  '12911229': 124
                  '17234259': 122
                  '15225611': 122
                  '17264608': 123
                  '8384656': 122
                  '15333970': 122
                  '15400846': 125
                  '16819273': 123
                  '13267545': 122
                  '12779225': 125
                  '12044159': 123
                  '11313607': 124
                  '17345175': 123
                  '12627888': 123
                  '15838349': 125
                  '16310811': 125
                  '16078241': 125
                  '17383900': 125
                  '13355432': 125
                  '12496938': 125
                  '7938611': 124
                  '15531242': 124
                  '11685017': 125
                  '17375188': 125
                  '8152455': 125
                  '17457781': 125
                  '16130293': 125
                  '17314980': 125
                  '16772071': 125
                  '12574680': 125
                  '16722292': 125
                  '12568884': 125
                  '12029290': 125
                  '11223096': 125
                  '11961305': 125
                  '16960317': 125
                  '17029548': 0
                  '17558159': 0
                  '15566475': 0
                  '16300695': 0
                ru: {}
                mtcc: 0
                s: true
  /chat/group/message:
    post:
      tags:
      - Chat & Mídia
      summary: Endpoint POST /chat/group/message
      description: 'Servidor: `https://pi.tgclab.com`. Processado a partir do tráfego
        capturado.'
      operationId: post_chat_group_message
      security:
      - JWTAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              group_id: 6584655
              nickname: Longkun
              category: Concurso
              userID: 16300695
              message: es
              createdAt: null
              updatedAt: null
      responses:
        '200':
          description: Operação realizada com sucesso
          content:
            application/json:
              example:
                idx: 1
                uid: 16300695
                nn: Longkun
                did: '6584655_1_1786320605484'
                msg: es
                ts: 1786320605.48488
                ua: 1786320605.48488
                cat: Concurso
                idel: false
                ilv: false
                s: true
  /chat/group/messages:
    get:
      tags:
      - Chat & Mídia
      summary: Endpoint GET /chat/group/messages
      description: 'Servidor: `https://pi.tgclab.com`. Processado a partir do tráfego
        capturado.'
      operationId: get_chat_group_messages
      security:
      - JWTAuth: []
      parameters:
      - name: group_id
        in: query
        required: false
        schema:
          type: string
          example: '6487271'
      - name: from_updated_at
        in: query
        required: false
        schema:
          type: string
          example: '2026-08-10T00:10:33.298447Z'
      - name: include_meta
        in: query
        required: false
        schema:
          type: string
          example: '1'
      responses:
        '200':
          description: Operação realizada com sucesso
          content:
            application/json:
              example:
                m: []
                s: true
  /chat/groups/6584641/1786320535133_0_thumb.jpg:
    get:
      tags:
      - Chat & Mídia
      summary: Endpoint GET /chat/groups/6584641/1786320535133_0_thumb.jpg
      description: 'Servidor: `https://alicdn.tgclab.com`. Processado a partir do
        tráfego capturado.'
      operationId: get_chat_groups_6584641_1786320535133_0_thumb.jpg
      security:
      - JWTAuth: []
      responses:
        '200':
          description: Operação realizada com sucesso
          content:
            application/json:
              example:
                s: true
  /chat/sticker/sets:
    get:
      tags:
      - Chat & Mídia
      summary: Endpoint GET /chat/sticker/sets
      description: 'Servidor: `https://pi.tgclab.com`. Processado a partir do tráfego
        capturado.'
      operationId: get_chat_sticker_sets
      security:
      - JWTAuth: []
      parameters:
      - name: language
        in: query
        required: false
        schema:
          type: string
          example: pt
      responses:
        '200':
          description: Operação realizada com sucesso
          content:
            application/json:
              example:
                r:
                - id: 6
                  country_id: 0
                  code: '2'
                  title: 스티커 1
                  title_en: Sticker 1
                  language_code: null
                  cover_image: 1.png
                  items:
                  - item_id: 1.png
                    is_active: true
                    order: 1
                  - item_id: 2.png
                    is_active: true
                    order: 2
                  - item_id: 3.png
                    is_active: true
                    order: 3
                  - item_id: 4.png
                    is_active: true
                    order: 4
                  - item_id: 5.png
                    is_active: true
                    order: 5
                  - item_id: 6.png
                    is_active: true
                    order: 6
                  - item_id: 7.png
                    is_active: true
                    order: 7
                  - item_id: 8.png
                    is_active: true
                    order: 8
                  - item_id: 9.png
                    is_active: true
                    order: 9
                  - item_id: 10.png
                    is_active: true
                    order: 10
                  - item_id: 11.png
                    is_active: true
                    order: 11
                  - item_id: 12.png
                    is_active: true
                    order: 12
                  - item_id: 13.png
                    is_active: true
                    order: 13
                  - item_id: 14.png
                    is_active: true
                    order: 14
                  - item_id: 15.png
                    is_active: true
                    order: 15
                  - item_id: 16.png
                    is_active: true
                    order: 16
                  - item_id: 17.png
                    is_active: true
                    order: 17
                  - item_id: 18.png
                    is_active: true
                    order: 18
                  - item_id: 19.png
                    is_active: true
                    order: 19
                  - item_id: 20.png
                    is_active: true
                    order: 20
                  - item_id: 21.png
                    is_active: true
                    order: 21
                  - item_id: 22.png
                    is_active: true
                    order: 22
                  - item_id: 24.png
                    is_active: true
                    order: 24
                  - item_id: 25.png
                    is_active: true
                    order: 25
                  is_active: true
                  is_premium: false
                  order: 1
                  created_at: '2026-05-08T13:20:46+00:00'
                  updated_at: '2026-05-08T14:20:46+00:00'
                - id: 5
                  country_id: 0
                  code: '1'
                  title: 스티커 2
                  title_en: Sticker 2
                  language_code: null
                  cover_image: 1.png
                  items:
                  - item_id: 1.png
                    is_active: true
                    order: 1
                  - item_id: 2.png
                    is_active: true
                    order: 2
                  - item_id: 3.png
                    is_active: true
                    order: 3
                  - item_id: 4.png
                    is_active: true
                    order: 4
                  - item_id: 5.png
                    is_active: true
                    order: 5
                  - item_id: 6.png
                    is_active: true
                    order: 6
                  - item_id: 7.png
                    is_active: true
                    order: 7
                  - item_id: 8.png
                    is_active: true
                    order: 8
                  - item_id: 9.png
                    is_active: true
                    order: 9
                  - item_id: 10.png
                    is_active: true
                    order: 10
                  - item_id: 11.png
                    is_active: true
                    order: 11
                  - item_id: 12.png
                    is_active: true
                    order: 12
                  - item_id: 13.png
                    is_active: true
                    order: 13
                  - item_id: 14.png
                    is_active: true
                    order: 14
                  - item_id: 15.png
                    is_active: true
                    order: 15
                  - item_id: 16.png
                    is_active: true
                    order: 16
                  - item_id: 17.png
                    is_active: true
                    order: 17
                  - item_id: 18.png
                    is_active: true
                    order: 18
                  - item_id: 19.png
                    is_active: true
                    order: 19
                  - item_id: 20.png
                    is_active: true
                    order: 20
                  - item_id: 21.png
                    is_active: true
                    order: 21
                  - item_id: 22.png
                    is_active: true
                    order: 22
                  - item_id: 23.png
                    is_active: true
                    order: 23
                  - item_id: 24.png
                    is_active: true
                    order: 24
                  - item_id: 25.png
                    is_active: true
                    order: 25
                  is_active: true
                  is_premium: true
                  order: 2
                  created_at: '2026-05-08T13:20:46+00:00'
                  updated_at: '2026-05-08T14:20:46+00:00'
                - id: 7
                  country_id: 0
                  code: '3'
                  title: 스티커 3
                  title_en: Sticker 3
                  language_code: null
                  cover_image: 1.png
                  items:
                  - item_id: 1.png
                    is_active: true
                    order: 1
                  - item_id: 2.png
                    is_active: true
                    order: 2
                  - item_id: 3.png
                    is_active: true
                    order: 3
                  - item_id: 4.png
                    is_active: true
                    order: 4
                  - item_id: 5.png
                    is_active: true
                    order: 5
                  - item_id: 6.png
                    is_active: true
                    order: 6
                  - item_id: 7.png
                    is_active: true
                    order: 7
                  - item_id: 8.png
                    is_active: true
                    order: 8
                  - item_id: 9.png
                    is_active: true
                    order: 9
                  - item_id: 10.png
                    is_active: true
                    order: 10
                  - item_id: 11.png
                    is_active: true
                    order: 11
                  - item_id: 12.png
                    is_active: true
                    order: 12
                  - item_id: 13.png
                    is_active: true
                    order: 13
                  - item_id: 14.png
                    is_active: true
                    order: 14
                  - item_id: 15.png
                    is_active: true
                    order: 15
                  - item_id: 16.png
                    is_active: true
                    order: 16
                  - item_id: 17.png
                    is_active: true
                    order: 17
                  - item_id: 18.png
                    is_active: true
                    order: 18
                  - item_id: 19.png
                    is_active: true
                    order: 19
                  - item_id: 20.png
                    is_active: true
                    order: 20
                  - item_id: 21.png
                    is_active: true
                    order: 21
                  - item_id: 22.png
                    is_active: true
                    order: 22
                  - item_id: 23.png
                    is_active: true
                    order: 23
                  - item_id: 24.png
                    is_active: true
                    order: 24
                  - item_id: 25.png
                    is_active: true
                    order: 25
                  - item_id: 26.png
                    is_active: true
                    order: 26
                  is_active: true
                  is_premium: true
                  order: 3
                  created_at: '2026-05-08T13:20:46+00:00'
                  updated_at: '2026-05-08T14:20:46+00:00'
                - id: 8
                  country_id: 0
                  code: '4'
                  title: 스티커 4
                  title_en: Sticker 4
                  language_code: null
                  cover_image: 1.png
                  items:
                  - item_id: 1.png
                    is_active: true
                    order: 1
                  - item_id: 2.png
                    is_active: true
                    order: 2
                  - item_id: 3.png
                    is_active: true
                    order: 3
                  - item_id: 4.png
                    is_active: true
                    order: 4
                  - item_id: 5.png
                    is_active: true
                    order: 5
                  - item_id: 6.png
                    is_active: true
                    order: 6
                  - item_id: 7.png
                    is_active: true
                    order: 7
                  - item_id: 8.png
                    is_active: true
                    order: 8
                  - item_id: 9.png
                    is_active: true
                    order: 9
                  - item_id: 10.png
                    is_active: true
                    order: 10
                  - item_id: 11.png
                    is_active: true
                    order: 11
                  - item_id: 12.png
                    is_active: true
                    order: 12
                  - item_id: 13.png
                    is_active: true
                    order: 13
                  - item_id: 14.png
                    is_active: true
                    order: 14
                  - item_id: 15.png
                    is_active: true
                    order: 15
                  - item_id: 16.png
                    is_active: true
                    order: 16
                  - item_id: 17.png
                    is_active: true
                    order: 17
                  - item_id: 18.png
                    is_active: true
                    order: 18
                  - item_id: 19.png
                    is_active: true
                    order: 19
                  - item_id: 20.png
                    is_active: true
                    order: 20
                  - item_id: 21.png
                    is_active: true
                    order: 21
                  - item_id: 22.png
                    is_active: true
                    order: 22
                  - item_id: 23.png
                    is_active: true
                    order: 23
                  - item_id: 24.png
                    is_active: true
                    order: 24
                  - item_id: 26.png
                    is_active: true
                    order: 26
                  - item_id: 27.png
                    is_active: true
                    order: 27
                  - item_id: 28.png
                    is_active: true
                    order: 28
                  is_active: true
                  is_premium: true
                  order: 4
                  created_at: '2026-05-08T13:20:46+00:00'
                  updated_at: '2026-05-08T14:20:46+00:00'
                - id: 1
                  country_id: 0
                  code: '5'
                  title: 스티커 5
                  title_en: Sticker 5
                  language_code: null
                  cover_image: 1.png
                  items:
                  - item_id: 1.png
                    is_active: true
                    order: 1
                  - item_id: 2.png
                    is_active: true
                    order: 2
                  - item_id: 3.png
                    is_active: true
                    order: 3
                  - item_id: 4.png
                    is_active: true
                    order: 4
                  - item_id: 5.png
                    is_active: true
                    order: 5
                  - item_id: 6.png
                    is_active: true
                    order: 6
                  - item_id: 7.png
                    is_active: true
                    order: 7
                  - item_id: 8.png
                    is_active: true
                    order: 8
                  - item_id: 9.png
                    is_active: true
                    order: 9
                  - item_id: 10.png
                    is_active: true
                    order: 10
                  - item_id: 11.png
                    is_active: true
                    order: 11
                  - item_id: 12.png
                    is_active: true
                    order: 12
                  - item_id: 13.png
                    is_active: true
                    order: 13
                  - item_id: 14.png
                    is_active: true
                    order: 14
                  - item_id: 15.png
                    is_active: true
                    order: 15
                  - item_id: 16.png
                    is_active: true
                    order: 16
                  - item_id: 17.png
                    is_active: true
                    order: 17
                  - item_id: 18.png
                    is_active: true
                    order: 18
                  - item_id: 19.png
                    is_active: true
                    order: 19
                  - item_id: 20.png
                    is_active: true
                    order: 20
                  - item_id: 21.png
                    is_active: true
                    order: 21
                  - item_id: 22.png
                    is_active: true
                    order: 22
                  - item_id: 23.png
                    is_active: true
                    order: 23
                  - item_id: 24.png
                    is_active: true
                    order: 24
                  - item_id: 25.png
                    is_active: true
                    order: 25
                  - item_id: 26.png
                    is_active: true
                    order: 26
                  - item_id: 27.png
                    is_active: true
                    order: 27
                  - item_id: 28.png
                    is_active: true
                    order: 28
                  - item_id: 29.png
                    is_active: true
                    order: 29
                  - item_id: 30.png
                    is_active: true
                    order: 30
                  is_active: true
                  is_premium: true
                  order: 5
                  created_at: '2026-05-08T12:02:24+00:00'
                  updated_at: '2026-05-08T14:20:46+00:00'
                - id: 2
                  country_id: 0
                  code: '6'
                  title: 스티커 6
                  title_en: Sticker 6
                  language_code: null
                  cover_image: 1.png
                  items:
                  - item_id: 1.png
                    is_active: true
                    order: 1
                  - item_id: 2.png
                    is_active: true
                    order: 2
                  - item_id: 3.png
                    is_active: true
                    order: 3
                  - item_id: 4.png
                    is_active: true
                    order: 4
                  - item_id: 5.png
                    is_active: true
                    order: 5
                  - item_id: 6.png
                    is_active: true
                    order: 6
                  - item_id: 7.png
                    is_active: true
                    order: 7
                  - item_id: 8.png
                    is_active: true
                    order: 8
                  - item_id: 9.png
                    is_active: true
                    order: 9
                  - item_id: 10.png
                    is_active: true
                    order: 10
                  - item_id: 11.png
                    is_active: true
                    order: 11
                  - item_id: 12.png
                    is_active: true
                    order: 12
                  - item_id: 13.png
                    is_active: true
                    order: 13
                  - item_id: 14.png
                    is_active: true
                    order: 14
                  - item_id: 15.png
                    is_active: true
                    order: 15
                  - item_id: 16.png
                    is_active: true
                    order: 16
                  - item_id: 17.png
                    is_active: true
                    order: 17
                  - item_id: 18.png
                    is_active: true
                    order: 18
                  - item_id: 19.png
                    is_active: true
                    order: 19
                  - item_id: 20.png
                    is_active: true
                    order: 20
                  - item_id: 21.png
                    is_active: true
                    order: 21
                  - item_id: 22.png
                    is_active: true
                    order: 22
                  - item_id: 23.png
                    is_active: true
                    order: 23
                  - item_id: 24.png
                    is_active: true
                    order: 24
                  is_active: true
                  is_premium: true
                  order: 6
                  created_at: '2026-05-08T12:02:24+00:00'
                  updated_at: '2026-05-08T14:20:46+00:00'
                - id: 3
                  country_id: 0
                  code: '7'
                  title: 스티커 7
                  title_en: Sticker 7
                  language_code: null
                  cover_image: 10.png
                  items:
                  - item_id: 1.png
                    is_active: true
                    order: 1
                  - item_id: 2.png
                    is_active: true
                    order: 2
                  - item_id: 3.png
                    is_active: true
                    order: 3
                  - item_id: 4.png
                    is_active: true
                    order: 4
                  - item_id: 5.png
                    is_active: true
                    order: 5
                  - item_id: 6.png
                    is_active: true
                    order: 6
                  - item_id: 7.png
                    is_active: true
                    order: 7
                  - item_id: 8.png
                    is_active: true
                    order: 8
                  - item_id: 9.png
                    is_active: true
                    order: 9
                  - item_id: 10.png
                    is_active: true
                    order: 10
                  - item_id: 11.png
                    is_active: true
                    order: 11
                  - item_id: 12.png
                    is_active: true
                    order: 12
                  - item_id: 13.png
                    is_active: true
                    order: 13
                  - item_id: 14.png
                    is_active: true
                    order: 14
                  - item_id: 15.png
                    is_active: true
                    order: 15
                  - item_id: 16.png
                    is_active: true
                    order: 16
                  - item_id: 17.png
                    is_active: true
                    order: 17
                  - item_id: 18.png
                    is_active: true
                    order: 18
                  - item_id: 19.png
                    is_active: true
                    order: 19
                  - item_id: 20.png
                    is_active: true
                    order: 20
                  - item_id: 21.png
                    is_active: true
                    order: 21
                  - item_id: 22.png
                    is_active: true
                    order: 22
                  - item_id: 23.png
                    is_active: true
                    order: 23
                  - item_id: 24.png
                    is_active: true
                    order: 24
                  - item_id: 25.png
                    is_active: true
                    order: 25
                  - item_id: 26.png
                    is_active: true
                    order: 26
                  - item_id: 27.png
                    is_active: true
                    order: 27
                  - item_id: 28.png
                    is_active: true
                    order: 28
                  - item_id: 29.png
                    is_active: true
                    order: 29
                  - item_id: 30.png
                    is_active: true
                    order: 30
                  - item_id: 31.png
                    is_active: true
                    order: 31
                  is_active: true
                  is_premium: true
                  order: 7
                  created_at: '2026-05-08T12:02:24+00:00'
                  updated_at: '2026-05-08T14:20:46+00:00'
                - id: 4
                  country_id: 0
                  code: '8'
                  title: 스티커 8
                  title_en: Sticker 8
                  language_code: null
                  cover_image: 10.png
                  items:
                  - item_id: 1.png
                    is_active: true
                    order: 1
                  - item_id: 2.png
                    is_active: true
                    order: 2
                  - item_id: 3.png
                    is_active: true
                    order: 3
                  - item_id: 4.png
                    is_active: true
                    order: 4
                  - item_id: 5.png
                    is_active: true
                    order: 5
                  - item_id: 6.png
                    is_active: true
                    order: 6
                  - item_id: 7.png
                    is_active: true
                    order: 7
                  - item_id: 8.png
                    is_active: true
                    order: 8
                  - item_id: 9.png
                    is_active: true
                    order: 9
                  - item_id: 10.png
                    is_active: true
                    order: 10
                  - item_id: 11.png
                    is_active: true
                    order: 11
                  - item_id: 12.png
                    is_active: true
                    order: 12
                  - item_id: 13.png
                    is_active: true
                    order: 13
                  - item_id: 14.png
                    is_active: true
                    order: 14
                  - item_id: 15.png
                    is_active: true
                    order: 15
                  - item_id: 16.png
                    is_active: true
                    order: 16
                  - item_id: 17.png
                    is_active: true
                    order: 17
                  - item_id: 18.png
                    is_active: true
                    order: 18
                  - item_id: 19.png
                    is_active: true
                    order: 19
                  - item_id: 20.png
                    is_active: true
                    order: 20
                  - item_id: 21.png
                    is_active: true
                    order: 21
                  - item_id: 22.png
                    is_active: true
                    order: 22
                  - item_id: 23.png
                    is_active: true
                    order: 23
                  - item_id: 24.png
                    is_active: true
                    order: 24
                  - item_id: 25.png
                    is_active: true
                    order: 25
                  - item_id: 26.png
                    is_active: true
                    order: 26
                  - item_id: 27.png
                    is_active: true
                    order: 27
                  - item_id: 28.png
                    is_active: true
                    order: 28
                  is_active: true
                  is_premium: true
                  order: 8
                  created_at: '2026-05-08T12:02:24+00:00'
                  updated_at: '2026-05-08T14:20:46+00:00'
                - id: 9
                  country_id: 0
                  code: '9'
                  title: 스티커 9
                  title_en: Sticker 9
                  language_code: null
                  cover_image: 1.png
                  items:
                  - item_id: 1.png
                    is_active: true
                    order: 1
                  - item_id: 2.png
                    is_active: true
                    order: 2
                  - item_id: 3.png
                    is_active: true
                    order: 3
                  - item_id: 4.png
                    is_active: true
                    order: 4
                  - item_id: 5.png
                    is_active: true
                    order: 5
                  - item_id: 6.png
                    is_active: true
                    order: 6
                  - item_id: 7.png
                    is_active: true
                    order: 7
                  - item_id: 8.png
                    is_active: true
                    order: 8
                  - item_id: 9.png
                    is_active: true
                    order: 9
                  - item_id: 10.png
                    is_active: true
                    order: 10
                  - item_id: 11.png
                    is_active: true
                    order: 11
                  - item_id: 12.png
                    is_active: true
                    order: 12
                  - item_id: 13.png
                    is_active: true
                    order: 13
                  - item_id: 14.png
                    is_active: true
                    order: 14
                  - item_id: 15.png
                    is_active: true
                    order: 15
                  - item_id: 16.png
                    is_active: true
                    order: 16
                  - item_id: 17.png
                    is_active: true
                    order: 17
                  - item_id: 18.png
                    is_active: true
                    order: 18
                  - item_id: 19.png
                    is_active: true
                    order: 19
                  - item_id: 20.png
                    is_active: true
                    order: 20
                  - item_id: 21.png
                    is_active: true
                    order: 21
                  - item_id: 22.png
                    is_active: true
                    order: 22
                  - item_id: 23.png
                    is_active: true
                    order: 23
                  - item_id: 24.png
                    is_active: true
                    order: 24
                  - item_id: 25.png
                    is_active: true
                    order: 25
                  - item_id: 26.png
                    is_active: true
                    order: 26
                  - item_id: 27.png
                    is_active: true
                    order: 27
                  - item_id: 28.png
                    is_active: true
                    order: 28
                  - item_id: 29.png
                    is_active: true
                    order: 29
                  - item_id: 30.png
                    is_active: true
                    order: 30
                  - item_id: 31.png
                    is_active: true
                    order: 31
                  - item_id: 32.png
                    is_active: true
                    order: 32
                  - item_id: 33.png
                    is_active: true
                    order: 33
                  - item_id: 34.png
                    is_active: true
                    order: 34
                  - item_id: 35.png
                    is_active: true
                    order: 35
                  is_active: true
                  is_premium: true
                  order: 9
                  created_at: '2026-05-13T01:40:16+00:00'
                  updated_at: '2026-05-13T01:40:16+00:00'
                - id: 10
                  country_id: 0
                  code: '10'
                  title: 스티커 10
                  title_en: Sticker 10
                  language_code: null
                  cover_image: 1.png
                  items:
                  - item_id: 1.png
                    is_active: true
                    order: 1
                  - item_id: 2.png
                    is_active: true
                    order: 2
                  - item_id: 3.png
                    is_active: true
                    order: 3
                  - item_id: 4.png
                    is_active: true
                    order: 4
                  - item_id: 5.png
                    is_active: true
                    order: 5
                  - item_id: 6.png
                    is_active: true
                    order: 6
                  - item_id: 7.png
                    is_active: true
                    order: 7
                  - item_id: 8.png
                    is_active: true
                    order: 8
                  - item_id: 9.png
                    is_active: true
                    order: 9
                  - item_id: 10.png
                    is_active: true
                    order: 10
                  - item_id: 11.png
                    is_active: true
                    order: 11
                  - item_id: 12.png
                    is_active: true
                    order: 12
                  - item_id: 13.png
                    is_active: true
                    order: 13
                  - item_id: 14.png
                    is_active: true
                    order: 14
                  - item_id: 15.png
                    is_active: true
                    order: 15
                  - item_id: 16.png
                    is_active: true
                    order: 16
                  - item_id: 17.png
                    is_active: true
                    order: 17
                  - item_id: 18.png
                    is_active: true
                    order: 18
                  - item_id: 19.png
                    is_active: true
                    order: 19
                  - item_id: 20.png
                    is_active: true
                    order: 20
                  - item_id: 21.png
                    is_active: true
                    order: 21
                  - item_id: 22.png
                    is_active: true
                    order: 22
                  - item_id: 23.png
                    is_active: true
                    order: 23
                  - item_id: 24.png
                    is_active: true
                    order: 24
                  - item_id: 25.png
                    is_active: true
                    order: 25
                  - item_id: 26.png
                    is_active: true
                    order: 26
                  - item_id: 27.png
                    is_active: true
                    order: 27
                  - item_id: 28.png
                    is_active: true
                    order: 28
                  - item_id: 29.png
                    is_active: true
                    order: 29
                  - item_id: 30.png
                    is_active: true
                    order: 30
                  is_active: true
                  is_premium: true
                  order: 10
                  created_at: '2026-05-13T01:40:16+00:00'
                  updated_at: '2026-05-13T01:40:16+00:00'
                - id: 11
                  country_id: 0
                  code: '11'
                  title: 스티커 11
                  title_en: Sticker 11
                  language_code: null
                  cover_image: 1.png
                  items:
                  - item_id: 1.png
                    is_active: true
                    order: 1
                  - item_id: 2.png
                    is_active: true
                    order: 2
                  - item_id: 3.png
                    is_active: true
                    order: 3
                  - item_id: 4.png
                    is_active: true
                    order: 4
                  - item_id: 5.png
                    is_active: true
                    order: 5
                  - item_id: 6.png
                    is_active: true
                    order: 6
                  - item_id: 7.png
                    is_active: true
                    order: 7
                  - item_id: 8.png
                    is_active: true
                    order: 8
                  - item_id: 9.png
                    is_active: true
                    order: 9
                  - item_id: 10.png
                    is_active: true
                    order: 10
                  - item_id: 11.png
                    is_active: true
                    order: 11
                  - item_id: 12.png
                    is_active: true
                    order: 12
                  - item_id: 13.png
                    is_active: true
                    order: 13
                  - item_id: 14.png
                    is_active: true
                    order: 14
                  - item_id: 15.png
                    is_active: true
                    order: 15
                  - item_id: 16.png
                    is_active: true
                    order: 16
                  - item_id: 17.png
                    is_active: true
                    order: 17
                  - item_id: 18.png
                    is_active: true
                    order: 18
                  - item_id: 19.png
                    is_active: true
                    order: 19
                  - item_id: 20.png
                    is_active: true
                    order: 20
                  - item_id: 21.png
                    is_active: true
                    order: 21
                  - item_id: 22.png
                    is_active: true
                    order: 22
                  - item_id: 23.png
                    is_active: true
                    order: 23
                  - item_id: 24.png
                    is_active: true
                    order: 24
                  - item_id: 25.png
                    is_active: true
                    order: 25
                  - item_id: 26.png
                    is_active: true
                    order: 26
                  - item_id: 27.png
                    is_active: true
                    order: 27
                  is_active: true
                  is_premium: true
                  order: 11
                  created_at: '2026-05-13T01:40:16+00:00'
                  updated_at: '2026-05-13T01:40:16+00:00'
                - id: 12
                  country_id: 0
                  code: '12'
                  title: 스티커 12
                  title_en: Sticker 12
                  language_code: null
                  cover_image: 1.png
                  items:
                  - item_id: 1.png
                    is_active: true
                    order: 1
                  - item_id: 2.png
                    is_active: true
                    order: 2
                  - item_id: 3.png
                    is_active: true
                    order: 3
                  - item_id: 4.png
                    is_active: true
                    order: 4
                  - item_id: 5.png
                    is_active: true
                    order: 5
[...]
